@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

/*
#Site Colors:
- Baby Blue - rgb(111, 226, 235);
- Pink - rgb(224, 142, 142);

#Fonts
- Major Mono - 400
- Roboto - 100 / 300 / 400 / 700

*/

/* Universal Styles */

html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    background: linear-gradient(140deg, rgb(111, 226, 235), rgba(224, 142, 142));
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    text-align: center;
    height: 100vh;
}

main {
    display: grid;
    align-items: space-between;
}

@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 80% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

a {
    color: rgb(0,0,0);
}

a:hover {
    color: rgba(224, 142, 142);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
}

h2 {
    font-size: 1em;
}

/* Navigation */

nav {
    grid-area: 1 / 1 / span 1 / span 1;
    padding: 1rem;
}

nav ul li {
    display: inline-block;
    margin: 8px;
}

nav ul li>a {
    padding: 0.5rem;
    font-weight: bold;
}

nav ul li>a:hover {
    border-bottom: 4px solid rgba(224, 142, 142);
}

/* Header */

.header {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}

.header h1, .header h2, .header strong,.header  p {
    margin: 0.5em 0;
}

.avatar {
    border-radius: 50%;
    max-height: 6rem;
    margin: 0.5em 0;
}


/* Main Section */

main section h2 {
    margin: 2em 0;
}

.portfolio {
    grid-area: 3 / 1 / span 1 / span 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.portfolio h3 {
    padding-bottom: 1em;
}

.project {
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px rgba(0, 0, 0, 0.25) solid;
    transition: 0.3s;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
}   

.project:hover {
    box-shadow: rgb(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.3s;
}

.project>h3 {
    padding: 1em;
}

.project a>p {
    min-height: 2.5em;
    line-height: 1.7;
}
.project ul {
    font-size: 0.85em;
    font-weight: bold;
    margin: 0.5em 0;
    font-style: italic;
}
.project ul li {
    display: inline-block;
    font-weight: normal;
}
aside {
    background-color: rgba(0,0,0, 0.3);
    font-weight: bold;
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    transition: all ease 1s;
    padding: 0.5em;
    display: none;
}

aside>a {
    color: rgb(0, 0, 0);
    margin: 0.5em 0;
}

aside>a:hover {
    color: rgb(224, 142, 142);
}
.portfolio a {
    padding: 0;
}

.tray {
    padding: 0.5em 0;
    opacity: 0.5;
    cursor: pointer;
    font-size: 1.2em;
    transition: ease all 700ms;
}

.tray-close {
    padding: 0.5em 0;
    opacity: 0.5;
    cursor: pointer;
    font-size: 1.2em;
    transform: rotate(180deg);
    transition: ease all 700ms;
}

@keyframes wiggle {
    0% { transform: skewX(9deg); } 
    10% { transform: skewX(-8deg); } 
    20% { transform: skewX(7deg); } 
    30% { transform: skewX(-6deg); } 
    40% { transform: skewX(5deg); } 
    50% { transform: skewX(-4deg); } 
    60% { transform: skewX(3deg); } 
    70% { transform: skewX(-2deg); } 
    80% { transform: skewX(1deg); } 
    90% { transform: skewX(0deg); } 
    100% { transform: skewX(0deg); } 
 } 


/* Contact / Footer */

footer {
    margin: 1em 0;
}

footer h2 {
    padding: 1em 0;
}

footer li {
    grid-area: 4 / 1 / span 1 / span 1;
    display: inline-block;
    margin: 0.2em 0.5em;
    font-size: 1.5em;
}

/*media queries*/

@media only screen and (min-width: 460px) {
    
    .portfolio {
        min-width: unset;
        flex-flow: row wrap;
        align-items: stretch;
    }
    .project {
        width: 460px;
        margin: 0.5em;
    }
    
}