@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

/*
#Site Colors:
- Baby Blue - rgb(111, 226, 235);
- Pink - rgb(224, 142, 142);

#Fonts
- Major Mono - 400
- Roboto - 100 / 300 / 400 / 700

*/

/* Universal Styles */

html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    background: linear-gradient(140deg, rgb(111, 226, 235), rgba(224, 142, 142));
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    text-align: center;
}
main {
    display: grid;
    align-items: space-between;
}

@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 80% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

a {
    color: rgb(0,0,0);
}

a:hover {
    color: rgba(224, 142, 142);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
}

h2 {
    font-size: 1em;
    padding: 1em 0;
}

/* Navigation */

nav {
    grid-area: 1 / 1 / span 1 / span 1;
    padding: 1rem;
}

nav ul li {
    display: inline-block;
    margin: 12px;
}

nav ul li>a {
    padding: 0.5rem;
    font-weight: bold;
}

nav ul li>a:hover {
    border-bottom: 4px solid rgba(224, 142, 142);
}

/* Header */

.header {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
}

.avatar {
    border-radius: 50%;
    max-height: 6rem;
    margin: 0.5em 0;
}

.header p {
    padding: 0.7em;
}

/* Main Section */

.portfolio {
    grid-area: 3 / 1 / span 1 / span 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.portfolio h3 {
    padding-bottom: 1em;
}
.project {
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px rgba(0, 0, 0, 0.25) solid;
    transition: 0.3s;
    display: flex;
    flex-flow: column;
    margin: 0.5em 0;
    width: 100%;
}   

.project:hover {
    box-shadow: rgb(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.3s;
}


.project>h3 {
    padding: 0.75em;
}

.portfolio a {
    padding: 1em;
}

aside {
    background-color: rgba(0,0,0, 0.3);
    font-weight: bold;
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    transition: ease;
    padding: 0.5em;
    display: none;
}

aside>a {
    color: rgb(0, 0, 0);
}

aside>a:hover {
    color: rgb(224, 142, 142);
}
.portfolio a {
    padding: 0;
}
#view-code, #hide-code {
    padding: 1em 0 0.5em 0;
    opacity: 0.5;
}

#hide-code {
    display: none;
}

/* Contact / Footer */

footer {
    margin: 1em 0;
}

footer li {
    grid-area: 4 / 1 / span 1 / span 1;
    display: inline-block;
    margin: 0.2em 0.5em;
    font-size: 1.5em;
}


/*media queries*/

@media only screen and (min-width: 460px) {
    h1 {
        font-size: 2.2em;
        padding: 0;
    }
    
    .portfolio {
        min-width: unset;
        flex-flow: row wrap;
        align-items: stretch;
    }
    .project {
        width: 460px;
        margin: 0.5em;
    }
    
}